body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.print-container {
    text-align: center;
    margin-top: 50px;
}

.tick-mark {
    font-size: 150px;
    color: #4CAF50;
    margin-bottom: 20px; 
}
.smile
{
   display:block;
   margin-left: 45%;
   margin-right: auto;
   width:50%;
   border-radius:8px;
}